<h1>Boris Alejandro Mora Barrales </h1>


<div class="jumbotron">
  <h1 class="display-4">holaaaaaaaa</h1>
  <p class="lead">carpe diem</p>
  <hr class="my-4">
  <p>keep calm and call batman</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
